<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings</key>
	<dict>
		<key>appAppearance</key>
		<string>dark</string>
		<key>appOutputDevices</key>
		<dict/>
		<key>appVolumes</key>
		<dict>
			<key>com.apple.ScreenContinuity</key>
			<real>0.2243923611111111</real>
			<key>com.colliderli.iina</key>
			<real>2.0</real>
		</dict>
		<key>autoQuitEnabled</key>
		<true/>
		<key>batteryLimitPercent</key>
		<integer>10</integer>
		<key>clamshellPreferred</key>
		<false/>
		<key>clipboardAutoClearDelaySeconds</key>
		<integer>20</integer>
		<key>clipboardHistoryEnabled</key>
		<true/>
		<key>clipboardHistoryLimit</key>
		<integer>50</integer>
		<key>clipboardHistoryShortcut</key>
		<string>option:9</string>
		<key>clipboardHistoryShortcutEnabled</key>
		<true/>
		<key>commandBarShortcut</key>
		<string>option:49</string>
		<key>commandBarShortcutEnabled</key>
		<false/>
		<key>defaultDurationMinutes</key>
		<integer>480</integer>
		<key>diskImageInstallerRevealsApp</key>
		<true/>
		<key>diskImageInstallerTrashesDownload</key>
		<true/>
		<key>dockClickHide</key>
		<false/>
		<key>dockClickMinimize</key>
		<false/>
		<key>dockPreviewEnabled</key>
		<true/>
		<key>fanControlCoolingLevel</key>
		<integer>100</integer>
		<key>fanControlMode</key>
		<string>system</string>
		<key>featureAvailable.appUpdates</key>
		<false/>
		<key>featureAvailable.autoQuit</key>
		<true/>
		<key>featureAvailable.brightness</key>
		<false/>
		<key>featureAvailable.cameraPreview</key>
		<true/>
		<key>featureAvailable.cleaner</key>
		<true/>
		<key>featureAvailable.cleaningMode</key>
		<true/>
		<key>featureAvailable.clipboardHistory</key>
		<true/>
		<key>featureAvailable.colorPicker</key>
		<true/>
		<key>featureAvailable.commandBar</key>
		<true/>
		<key>featureAvailable.diskImageInstaller</key>
		<true/>
		<key>featureAvailable.dockClick</key>
		<true/>
		<key>featureAvailable.dockPreview</key>
		<true/>
		<key>featureAvailable.extraBrightness</key>
		<false/>
		<key>featureAvailable.fanControl</key>
		<true/>
		<key>featureAvailable.finderCutPaste</key>
		<true/>
		<key>featureAvailable.finderRename</key>
		<false/>
		<key>featureAvailable.homebrew</key>
		<true/>
		<key>featureAvailable.keepAwake</key>
		<true/>
		<key>featureAvailable.keyboardDebounce</key>
		<true/>
		<key>featureAvailable.mediaTools</key>
		<true/>
		<key>featureAvailable.micMute</key>
		<false/>
		<key>featureAvailable.middleClick</key>
		<true/>
		<key>featureAvailable.mixer</key>
		<true/>
		<key>featureAvailable.monitorCPU</key>
		<true/>
		<key>featureAvailable.monitorDisk</key>
		<true/>
		<key>featureAvailable.monitorGPU</key>
		<true/>
		<key>featureAvailable.monitorMemory</key>
		<true/>
		<key>featureAvailable.monitorNetwork</key>
		<true/>
		<key>featureAvailable.monitorPower</key>
		<true/>
		<key>featureAvailable.mouseButtonShortcuts</key>
		<true/>
		<key>featureAvailable.mouseNavigation</key>
		<false/>
		<key>featureAvailable.musicBlock</key>
		<false/>
		<key>featureAvailable.pastePlain</key>
		<false/>
		<key>featureAvailable.quickLauncher</key>
		<true/>
		<key>featureAvailable.quickToggles</key>
		<false/>
		<key>featureAvailable.radialMenu</key>
		<true/>
		<key>featureAvailable.scratchpad</key>
		<true/>
		<key>featureAvailable.screenOCR</key>
		<true/>
		<key>featureAvailable.screenRecorder</key>
		<true/>
		<key>featureAvailable.screenshot</key>
		<true/>
		<key>featureAvailable.scrollInverter</key>
		<false/>
		<key>featureAvailable.shelf</key>
		<true/>
		<key>featureAvailable.smoothScroll</key>
		<false/>
		<key>featureAvailable.soundOutputSwitcher</key>
		<true/>
		<key>featureAvailable.superKey</key>
		<false/>
		<key>featureAvailable.switcher</key>
		<true/>
		<key>featureAvailable.textSnippets</key>
		<false/>
		<key>featureAvailable.uninstaller</key>
		<true/>
		<key>featureAvailable.urlCleaner</key>
		<false/>
		<key>featureAvailable.windowLayout</key>
		<false/>
		<key>featureAvailable.windowMaximizer</key>
		<false/>
		<key>featuresOnboardingVersion</key>
		<integer>4</integer>
		<key>finderCutPasteEnabled</key>
		<true/>
		<key>hasOnboarded</key>
		<true/>
		<key>keepAwakeActiveIcon</key>
		<string>coffee</string>
		<key>keepAwakeAllowDisplaySleep</key>
		<false/>
		<key>keepAwakeConnectedToPower</key>
		<false/>
		<key>keepAwakeIconTint</key>
		<string>pink</string>
		<key>keepAwakeMouseJiggleIntervalMinutes</key>
		<integer>5</integer>
		<key>keyboardDebounceWindowMs</key>
		<integer>5</integer>
		<key>lastUpdateIntroVersion</key>
		<string>3.3.5</string>
		<key>launchAtLoginWanted</key>
		<true/>
		<key>menuBarBattery</key>
		<false/>
		<key>menuBarBatteryTemperature</key>
		<false/>
		<key>menuBarCPU</key>
		<true/>
		<key>menuBarCPUTemperature</key>
		<true/>
		<key>menuBarCombineTemperatures</key>
		<false/>
		<key>menuBarDiskActivity</key>
		<false/>
		<key>menuBarFanSpeed</key>
		<false/>
		<key>menuBarHideIconWithMetrics</key>
		<true/>
		<key>menuBarMemory</key>
		<true/>
		<key>menuBarMemoryStyle</key>
		<string>both</string>
		<key>menuBarMetricAppearance</key>
		<string>bars</string>
		<key>menuBarMetricOrder</key>
		<string>cpu,cpuTemperature,gpu,gpuTemperature,network,memory,batteryTime,batteryTemperature,peripheralBattery,battery,diskUsage,diskActivity,power,fanSpeed</string>
		<key>menuBarMetricSpacing</key>
		<string>compact</string>
		<key>menuBarNetwork</key>
		<true/>
		<key>menuBarPower</key>
		<false/>
		<key>menuBarSeparateMetrics</key>
		<false/>
		<key>menuBarUsageBarCriticalColor</key>
		<string>#FF453A</string>
		<key>menuBarUsageBarElevatedColor</key>
		<string>#FFD60A</string>
		<key>menuBarUsageBarHighThreshold</key>
		<integer>90</integer>
		<key>menuBarUsageBarMediumThreshold</key>
		<integer>70</integer>
		<key>menuBarUsageBarNormalColor</key>
		<string>#64D2FF</string>
		<key>middleClickEnabled</key>
		<true/>
		<key>monitorAlertBatteryPercent</key>
		<integer>15</integer>
		<key>monitorAlertCPUTemperatureThreshold</key>
		<integer>90</integer>
		<key>monitorAlertCPUThreshold</key>
		<integer>90</integer>
		<key>monitorAlertCooldownMinutes</key>
		<integer>15</integer>
		<key>monitorAlertDiskFreePercent</key>
		<integer>10</integer>
		<key>monitorIntervalSeconds</key>
		<integer>2</integer>
		<key>monitorMemoryMetric</key>
		<string>used</string>
		<key>monitorPwrAdapter</key>
		<true/>
		<key>monitorPwrBattery</key>
		<true/>
		<key>monitorPwrHealth</key>
		<true/>
		<key>monitorPwrSystem</key>
		<true/>
		<key>monitorPwrTemperature</key>
		<true/>
		<key>monitorPwrTimeRemaining</key>
		<true/>
		<key>onboardingStep</key>
		<integer>0</integer>
		<key>panelCollapsedResetVersion</key>
		<string>2.15.1</string>
		<key>panelControlFilesExpanded</key>
		<true/>
		<key>panelControlInputExpanded</key>
		<false/>
		<key>panelControlWindowsExpanded</key>
		<true/>
		<key>panelPowerOrder</key>
		<string></string>
		<key>panelShowKeepAwake</key>
		<true/>
		<key>radialMenuEnabled</key>
		<false/>
		<key>radialMenuShortcut</key>
		<string>control+option+command:49</string>
		<key>recorderEditorPresets</key>
		<data>
		W3sibmFtZSI6IlNldHRsciIsImFzcGVjdCI6Im9yaWdpbmFsIiwiYmFja2Ry
		b3AiOiJ7XCJjb3JuZXJSYWRpdXNcIjowLjE3ODM5NzcwMDQ3MTY5ODEyLFwi
		a2luZFwiOlwicHJlc2V0XCIsXCJibHVyXCI6MC4xNzc4MDgwNzc4MzAxODg2
		OCxcInByZXNldElEXCI6XCJmb3Jlc3RcIixcInBhZGRpbmdcIjowLjE4MzQ4
		MzE5NTc1NDcxNjk3fSIsInpvb21BbW91bnQiOjEuOCwic2hvd3NQb2ludGVy
		Ijp0cnVlLCJwb2ludGVyU21vb3RoaW5nIjoic21vb3RoIiwicG9pbnRlclNp
		emUiOjEuMTczOTMzNjk5MzI0MzI0Mywiem9vbUVuYWJsZWQiOnRydWUsImlk
		IjoiMDg4MTMyNzAtNDY3MS00NUNGLUJBMUItQkUwODlDQ0E3OUEzIiwic2hv
		d3NDbGlja1JpbmciOnRydWUsImltYWdlcyI6W119XQ==
		</data>
		<key>recorderShortcut</key>
		<string>shift+command:15</string>
		<key>recorderShortcutEnabled</key>
		<true/>
		<key>recorderSystemAudio</key>
		<false/>
		<key>screenshotLastTool</key>
		<string>line</string>
		<key>screenshotShortcut</key>
		<string>shift+command:1</string>
		<key>screenshotShortcutEnabled</key>
		<true/>
		<key>scrollInverterHorizontalEnabled</key>
		<false/>
		<key>shelfEnabled</key>
		<true/>
		<key>shelfShortcut</key>
		<string>shift+command:2</string>
		<key>statusItemPlacementGeneration</key>
		<integer>3</integer>
		<key>supportUpdateIntroVersion</key>
		<string>3.3.2</string>
		<key>updateHighlightsSeenVersion</key>
		<string>3.3.3</string>
		<key>vorssDisabledSleep</key>
		<false/>
	</dict>
	<key>vorssaintBackupAppVersion</key>
	<string>3.3.5</string>
	<key>vorssaintBackupVersion</key>
	<integer>1</integer>
</dict>
</plist>
